$btn-color: #275a53;
$text-color: #ffff;

.center-alignment {
    margin: 0% 25%;
    margin-top: 7.5%;
    width: 570px;
    height: 400px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ababab;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    padding-top: 5%;
}

.input-field {
    border: none;
    border-bottom: 0.1px solid #c5c5c5;
    width: 462px;
    height: 42px;
}

.social-signIn {
    width: 461px;
    height: 51px;
    border: 1px solid #c7c7c7;
    box-sizing: border-box;
    border-radius: 57px;
    margin: 0px 28.5%;
}

.signUp-btn {
    border: none;
    background: $btn-color;
    color: $text-color;
    width: 462px;
    height: 50px;
    padding: 14px 165px;
    margin-top: 30px;
}
.input-field {
    margin: 5px 0px;
    width: 462px;
    height: 32px;
    background: none;
}
